a {
  text-decoration: none;
}

.wrapper {
  height: 90vh;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-body {
  padding: 3vw;
  border-radius: 16px;
  box-shadow: 2px 2px 5px black;
}

.title {
  margin: 2vw;
  margin-top: 0;
  font-size: 2rem;
}

.button {
  border: none;
  font-family: monospace;
  text-align: center;
  margin: auto;
  border-radius: 8px;
}
.button:hover { cursor: pointer; }
.large { padding: 8px; margin-top: 2vh; margin-bottom: 2vh; font-size: 1rem; }

.single-input {
  padding: 10px;
  width: 90%;
  font-size: 1.5rem;
  text-align: center;
}

.menu-body {
  position: sticky;
  top: 0;
  bottom: auto;
  z-index: 10;
}
.menu-header {
  width: 100vw;
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #eee;
  box-shadow: 1px 1px 3px #ddd;
}
.menu-icon {
  margin-left: 5vw;
  border-radius: 100%;
  padding: 5px 7px;
}
.menu-icon:hover {
  cursor: pointer;
  background-color: #ddd;
}
.menu-list {
  width: 100%;
  position: absolute;
  background-color: #fff;
  height: 95vh;
}
.menu-item a {
  font-size: 1.5rem;
  color: #000;
}
.menu-item {
  padding: 30px;
}
.selected a {
  color: #f7bb04;
  font-weight: 750;
}
.logout {
  background-color: #e17b7b;
  font-size: 1rem;
  width: fit-content;
  padding: 2vh;
  border-radius: 8px;
  color: #fff;
  margin: auto;
}
.logout:hover {
  cursor: pointer;
}

.personal-info-body {
  width: 70vw;
  margin: 7.5vh auto;
  display: flexbox;
  justify-self: center;
}
.personal-image {
  position: relative;
  display: flex; 
  justify-content: center;
  width: fit-content;
  margin: auto;
  width: 180px;
  height: 180px;
}
.personal-image img { display: inline; width:180px; height:auto; margin: 0 auto; border-radius: 50%; object-fit: cover; border: solid 5px #b9edff;}
.upload-image { position: absolute; bottom: 0; right: 0; background-color: #fff; border-radius: 100%; padding: 7px; border: dashed 1px #9c9c9c}
.upload-image:hover { cursor: pointer; }
#upload-image { display: none; }
.personal-box {
  padding: 100px 40px 30px 40px;
  background-color: #b9edff;
  margin: -80px auto 0 auto;
  border-radius: 16px;
}
.personal-name {
  font-size: 3rem;
  display: flex;
  justify-content: center;
}
.personal-name input {
  min-width: 70px;
  font-size: 3rem;
  border-radius: 8px;
  text-align: center;
}
.personal-buttons {
  margin-top: 40px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}
.personal-btn {
  padding: 8px;
  margin: 0 8px 0 8px;
  background-color: #000;
  color: #ddd;
  border-radius: 8px;
  font-size: 1rem;
}
.personal-btn:hover {
  cursor: pointer;
}

.stock-header {
  margin: 2vh auto 3vh auto;
}
.stock-title {
  font-size: 3rem;
}
.stock-cur-price {
  font-size: 1.5rem;
}
.stock-cur-price span {
  font-size: 1rem;
  margin-left: 5px;
}
.stock-graph {
  max-height: 50vh;
  display: flex;
  justify-content: center;
}

.block-title {
  font-size: 2rem;
  margin: 3vh auto;
}

.news-body {
  width: max-content;
  margin: auto;
  padding: 3px;
  font-weight: 300;
}
@media screen and (max-width: 650px) {
 .news-wrapper {
    margin: 1vh auto;
    display: flex;
    height: 10vh;
    width: 350px;
    border-radius: 12px;
    border: solid 1px #9c9c9c;
    overflow: hidden;
  }
  .news-summary {
    display: none;
  }
  .news-title {
    font-size: 12px;
  }
}
@media screen and (min-width: 650px) {
  .news-wrapper {
    margin: 1vh auto;
    display: flex;
    height: 10vh;
    width: 60vw;
    border-radius: 12px;
    border: solid 1px #9c9c9c;
    overflow: hidden;
  }
  .news-title {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5%;
  }
  .news-summary {
    padding: 0 10px;
    color: #9c9c9c;
    font-size: 14px;
  }
  .news-wrapper:hover {
    cursor: pointer;
  }
}
.news-img img {
  width: 100px;
  height: 100%;
  opacity: 0.7;
}

.loading {
  margin-top: 30vh;
  align-items: center;
}

@media screen and (max-width: 650px) {
  .welcome-text {
    width: 300px;
    margin: 4vh auto;
    padding: 50px 10px;
    font-size: 2rem;
    background-color: #c051c0;
    color: #fff;
  }

  .recommend {
    margin: auto;
    margin-bottom: 2vh;
    font-size: 1.75rem;
    background-color: #f7bb04;
    width: 300px;
    padding: 10px;
  }

  .dashboard-stocks {
    width: 85%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto
  }

  .snippet-wrapper {
    width: 36vw;
    height: 18vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border: solid 2px #000;
    margin: 2vw 1.25vw;
    border-radius: 16px;
    background-color: #e0f7ff;
  }

  .snippet-title {
    font-size: 1.5rem;
    color: #000;
  }

  .snippet-wrapper:hover {
    background-color: #000;
  }

  .snippet-wrapper:hover div {
    color: #fff;
  }
}

@media screen and (min-width: 650px) {
  .welcome-text {
    width: 70vw;
    margin: 4vh auto;
    padding: 50px 10px;
    font-size: 2rem;
    background-color: #c051c0;
    color: #fff;
  }

  .recommend {
    margin: auto;
    margin-bottom: 2vh;
    font-size: 1.75rem;
    background-color: #f7bb04;
    width: 70vw;
    padding: 10px;
  }

  .dashboard-stocks {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto
  }

  .snippet-wrapper {
    width: 15vw;
    height: 7.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border: solid 2px #000;
    margin: 1.5vw;
    border-radius: 16px;
    background-color: #e0f7ff;
  }

  .snippet-title {
    font-size: 1.5rem;
    color: #000;
  }

  .snippet-wrapper:hover {
    background-color: #000;
  }

  .snippet-wrapper:hover div {
    color: #fff;
  }
}